In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
# Charger les données en Pandas
df = pd.read_csv("data/raw/cleaned_covid19.csv")

In [3]:
df = df.drop(columns=["region_oms","code_pays","pays"])
print(df.head())
df = df.groupby(["date_debut"], as_index=False).agg('sum')
df.to_csv("data/raw/cleaned_covid19_2.csv", index=False)

            date_debut  nouveaux_cas  nouveaux_deces
0  2020-01-04 00:00:00           1.0             0.0
1  2020-01-04 00:00:00           1.0             0.0
2  2020-01-04 00:00:00           1.0             0.0
3  2020-01-05 00:00:00           0.0             3.0
4  2020-01-06 00:00:00           3.0             0.0

In [4]:
df.head()

            date_debut  nouveaux_cas  nouveaux_deces
0  2020-01-04 00:00:00           3.0             0.0
1  2020-01-05 00:00:00           0.0             3.0
2  2020-01-06 00:00:00           3.0             0.0
3  2020-01-08 00:00:00           1.0             0.0
4  2020-01-12 00:00:00          41.0             1.0

In [ ]:
# data_encoded = pd.get_dummies(df, columns=["date_debut"])
data_encoded = df
# features = ["nouveaux_cas"] + [col for col in data_encoded.columns if col.startswith("date_debut_")]
data_encoded["date_debut"] = data_encoded["date_debut"].astype('datetime64[ns]')
data_encoded["date_debut"] = data_encoded["date_debut"].astype('int64') // 10**9
features = ["nouveaux_cas","date_debut"]

X = data_encoded[features]  # Variables explicatives
y = data_encoded["nouveaux_deces"]  # Variable cible

# Diviser les données en entraînement et test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Créer et entraîner le modèle de régression linéaire
model = LinearRegression()
model.fit(X_train, y_train)

# Prédire les prix sur les données de test
y_pred = model.predict(X_test)

# Évaluer les performances du modèle
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mape = (abs(y_test - y_pred) / abs(y_test)).mean() * 100

print(f"Performances du modèle régression linéaire:")
print(f"Coefficient de détermination (R²) : {r2}")
# print(f"Mean Squared Error (MSE) : {mse}")
print(f"Mean Absolute Error (MAE) : {mae}")
# print(f"Mean Absolute Percentage Error (MAPE) : {mape:.2f}%")

Performances du modèle régression linéaire:
Coefficient de détermination (R²) : 0.48774768257195367
Mean Squared Error (MSE) : 11750626.86454596
Mean Absolute Error (MAE) : 2256.168433648462
Mean Absolute Percentage Error (MAPE) : inf%

In [6]:
data_encoded

      date_debut  nouveaux_cas  nouveaux_deces
0     1578096000           3.0             0.0
1     1578182400           0.0             3.0
2     1578268800           3.0             0.0
3     1578441600           1.0             0.0
4     1578787200          41.0             1.0
...          ...           ...             ...
1843  1737849600           1.0             0.0
1844  1737936000       14671.0            72.0
1845  1738022400         624.0           664.0
1846  1738108800           2.0             0.0
1847  1738195200           5.0             0.0

[1848 rows x 3 columns]